body { 
    font-family: segoe, "segoe ui", calibri, tahoma, arial, sans-serif;
}

#supercontainer {
    width: 30em;
}

#container {
    position:relative;
}

#title {
    width: 100%;
}
#title h1 {
    font-size: 11pt;
    font-weight:bold;
    float:left;
}
#title form, #title input, #cse-search-box {
display:none;
}

#printview {
    text-align:right;
    clear:both;
}
#printview + ul, #printview + ul li,.title + ul, .title + ul li, #ingredients li, #process li{
    font-size:9pt;
}

#process, #process li, .process, .process li {
    display:inline;
}

#dirlist, #dirlist li {
    text-transform: capitalize;
}

a:link, a:visited {
    color:blue;
    text-decoration:none;

}
a:hover { 
    text-decoration: underline;
}
.clear {
  left:10em;
}
#printview, .clear {
    font-size:10pt;
    position:absolute;
    bottom:-3em;
}
.process, #process li, .process li
{
line-height:15px;
margin:0px;
padding:0px;
}